---
---


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAPA MA</title>
    <link rel="shortcut icon" href="{{site.baseurl}}/img/logo.png">

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/fapa.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


</head>

<body id="page-top">
<div id="page-inner"></div>
<div id="page-inner-top"></div>
{% assign sections = (site.posts | sort: 'order') %}

    <!-- Menu Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-scroll" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand switch-page" href="#cover-page">
                    <!-- <img src="{{site.baseurl}}/img/logo.png" width="20" height="20" style="float: left"/> -->
                    FAPA MA
                </a>
            </div>

            <div id="navbar-scroll" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% for sec in sections %}
                    <li><a href="#{{sec.tabname | slugify}}" class="switch-page">
                        {{sec.tabname | downcase}}
                    </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>


    <!-- Content -->

    <!-- Main component for a primary marketing message or call to action -->
    <section id="cover-page">
        <div class="container">
            <h1>Welcome to FAPA MA</h1>
            <br>
            <p>
                Formosan Association for Public Affairs (FAPA) is a non profit organizaion to promote relations between Taiwan and United States. This page is for news and events in Massachusetts chapter.
            </p>
        </div>
    </section>

    <!-- Sections -->
{% for sec in sections %}
    <section id="{{sec.tabname | slugify}}" class="container">
        {{sec.content}}
    </section>
{% endfor %}






    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/js/fapa.js"></script>


</body>
</html>
