---
---


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAPA MA</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fapa.css">

</head>

<body id="page-top" data-spy="scroll" data-target="#navbar-scroll">
{% assign sections = (site.posts | sort: 'order') %}

    <!-- Menu Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">FAPA MA</a>
            </div>

            <div id="navbar-scroll" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% for sec in sections %}
                    <li><a href="#{{sec.tabname | downcase}}" class="page-scroll">
                        {{sec.tabname | downcase}}
                    </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>


    <!-- Content -->

    <!-- Main component for a primary marketing message or call to action -->
    <div id="cover-page" class="jumbotron">
        <div id="cover-inner">
            <div class="container">
                <h1>Welcome to FAPA MA</h1>
                <p>
                    Formosan Association for Public Affairs (FAPA) is a non profit organizaion to promote relations between Taiwan and United States. This page is for news and events in Massachusetts chapter.
                </p>
            </div>
        </div>
    </div>

    <!-- Sections -->

{% for sec in sections %}
    <section id="{{ sec.tabname | downcase }}" class="container">
        {{sec.content}}
    </section>
{% endfor %}


    <!-- Footer -->
    <footer>
    </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/fapa.js"></script>




</body>
</html>
