---
---


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAPA MA</title>
    <link rel="shortcut icon" href="{{site.baseurl}}/img/logo.png">

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/fapa.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


</head>

<body id="page-top">
<div id="page-inner"></div>
<div id="page-inner-top"></div>
{% assign sections = (site.posts | sort: 'order') %}

    <!-- Menu Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-scroll" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand switch-page" href="#cover-page">
                    <!-- <img src="{{site.baseurl}}/img/logo.png" width="20" height="20" style="float: left"/> -->
                    FAPA MA
                </a>
            </div>

            <div id="navbar-scroll" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% for sec in sections %}
                    <li><a href="#{{sec.tabname | slugify}}" class="switch-page">
                        {{sec.tabname | downcase}}
                    </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>


    <!-- Content -->

    <!-- Main component for a primary marketing message or call to action -->
    <section id="cover-page">
        <div class="container">
            <h1>Welcome to FAPA MA</h1>
            <br>
            <p>
                FAPA-MA chapter is based in Boston. We work closely with HQ to promote our messages locally in the greater Boston area and Massachusetts.
				<br>
				We have four main goals:
				
				<ol>
				<li>Maintain active interactions with the local offices of MA congressmen/women and Senators, to discuss and update the offices with the latest political and cultural development in Taiwan. </li>
				<li>To bridge different Taiwanese communities in Boston/MA (first generation, second generation, and oversea students), hold events to bring the communities together to discuss issues related to Taiwan and US-Taiwan relations.  </li>
				<li>Actively reach out to other local student, academic and grassroots activist groups. </li>
				<li>Monthly Keep Taiwan Free Harvard Square outreach to promote the spirit of Taiwan to the public.</li>
				</ol>
				
            </p>
			
			<center><h2>About FAPA</h2></center>
			<br>
			<p>Established in 1982 in Los Angeles, the Formosan Association for Public Affairs (FAPA) is a world-wide, Washington headquartered, non-profit organization that is set up:

			<ol>
<li>To promote international support for the right of the people of Taiwan to establish an independent and democratic country and to join the international community;</li>
<li>To promote relations and cooperation between Taiwan and the United States;</li>
<li>To protect the right of self-determination for the people of Taiwan;</li>
<li>To promote peace and security for Taiwan; and</li>
<li>To advance the rights and interests of Taiwanese communities throughout the world.</li>
</ol>

FAPA's mission is educational. The organization provides US policy makers, the media, scholars and the general public with information on issues related to Taiwan. FAPA informs and updates Members of Congress and their staff on Taiwanese issues. FAPA seeks to articulate the point of view of the people of Taiwan.
			<br>
			<a href = "http://fapa.org/new/">Read more about FAPA</a></p>
			<br><br>
        </div>
    </section>

    <!-- Sections -->
{% for sec in sections %}
    <section id="{{sec.tabname | slugify}}" class="container">
        {{sec.content}}
    </section>
{% endfor %}






    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/js/fapa.js"></script>


</body>
</html>
