---
tabname: Photos
order: 3
---

<h1>Photos from previous events</h1>

<center>Click to see full albums</center>


{% include line.html %}
{% assign photos = (site.data.photos | sort: 'date') %}
{% assign count = 0 %}

<div class="row">
    {% for photo in photos reversed %}
        <div class="col-sm-4">
            {% include photo.html link=photo.link pic=photo.pic content=photo.content %}
        </div>
        {% assign count = count | plus:1 %}
        
        {% if count == 3 %}
            {% include line.html %}
            {% assign count = 0%}
        {% endif %}

    {% endfor %}
</div>
