---
tabname: Contact Us
order: 4
---

<h1>Contact Us</h1>

{% include line.html %}
<div style="text-align: center;">
	<div class='row'>
		<div class="col-sm-4">
    		{% include staff.html name='Ho-Chou Tu' img='HC.jpg' title='MA Chapter President' email='hochoutu@gmail.com' %}
		</div>
		<div class="col-sm-4">
			{% include staff.html name='Chia-Chun Chung' img='CC.jpg' title='Director At-Large' email='jchung1@gmail.com' %}
		</div>
		<div class="col-sm-4">
			{% include staff.html name='Stephanie Chan' img='SC.jpg' title='Regional Director, MA Chapter' email='stepcie@gmail.com' %}
		</div>
	</div>
	<br>
</div>
<br>

<div style="text-align: center;">
	<h2>Follow us!</h2>
	<br>
    {% include icon.html link='https://www.facebook.com/fapamassachusetts' icon='fa-facebook-square' %}
	{% include icon.html link='https://twitter.com/fapamassachuset' icon='fa-twitter-square' %}
	<br>
</div>
<center>
<br><br>
	<a href = "https://groups.google.com/forum/#!forum/fapa_mass"><h2><i class="fa fa-envelope-square"></i> Join our mailing list!</h2></a>
	<br><br>
	<h2>Donate to FAPA-HQ</h2>
	<br>

	<form action="https://www.paypal.com/en/cgi-bin/webscr" method="post" target="paypal">
	<input type="hidden" name="cmd" value="_donations">
	<input type="hidden" name="business" value="fundraising@ypg.fapa.org">
	<input type="hidden" name="return" value="http://fapa.org/new">
	<input type="hidden" name="undefined_quantity" value="0">
	<input type="hidden" name="item_name" value="Tax Deductable Donation to FAPA">
	<input type="hidden" name="charset" value="utf-8">
	<input type="hidden" name="no_shipping" value="1">
	<input type="hidden" name="image_url" value="">
	<input type="hidden" name="no_note" value="0"><br><br>
		<div align="center">
		<input type="image" src="{{site.baseurl}}/img/btn_donateCC_LG.gif" name="submit" alt="PayPal secure payments.">
	</div>
	</form>
