---
tabname: Contact Us
order: 4
---

<br>
<br>
<h1>Contact Us</h1>
<br>

{% include line.html %}
<div style="text-align: center;">
	<center><h2>FAPA-MA board members</h2></center>
	<br>
	<div>
    {% include staff.html name='Ho-Chou Tu' img='HC.jpg' title='MA Chapter President' email='hochoutu@gmail.com' %}
	{% include staff.html name='Chia-Chun Chung' img='CC.jpg' title='Director At-Large' email='jchung1@gmail.com' %}
	{% include staff.html name='Stephanie Chan' img='SC.jpg' title='Regional Director, MA Chapter' email='stepcie@gmail.com' %}
	</div>
	<br>
</div>
<br>

<div style="text-align: center;">
	<h2>Follow us!</h2>
	<br>
    {% include icon.html link='https://www.facebook.com/fapamassachusetts' icon='fa-facebook-square' %}
	{% include icon.html link='https://twitter.com/fapamassachuset' icon='fa-twitter-square' %}
	<br>
</div>
<center>
<br><br>
	<a href = "https://groups.google.com/forum/#!contactowner/fapa_mass"><i class="fa fa-envelope-square"></i> Join our mailing list!</a>
	<br><br>
	<center><a href = "https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=DphNW1SkBttsRFXnd7SQbCGSB7Lk_rxWoWqMn1Ji2GMwvrBwCV8hcwOc_vu&dispatch=5885d80a13c0db1f8e263663d3faee8d64ad11bbf4d2a5a1a0d303a50933f9b2">
	<img src = "{{site.baseurl}}/img/btn_donateCC_LG.gif" align="middle" style = "float: none"/></a></center></center>